@page "/register"
@layout LoginLayout

@inject IUtilisateurService utilisateurService
@inject NavigationManager _nav
@inject IToastService toastService




<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear Cuenta</h3></div>
                <div class="card-body">

                    <EditForm Model="model" OnValidSubmit="CreationCompte">
                        <DataAnnotationsValidator></DataAnnotationsValidator>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="text" placeholder="name@example.com" @bind-value="model.NomComplet" autocomplete="off" />
                            <label for="inputEmail">Nom complet</label>
                            <ValidationMessage For="@(()=>model.NomComplet)" />
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" @bind-value="model.Email" autocomplete="off" />
                            <label for="inputEmail">Correo</label>
                            <ValidationMessage For="@(()=>model.Email)" />
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" @bind-value="model.MotPasse" autocomplete="off" />
                                    <label for="inputPassword">Mot de passe</label>
                                    <ValidationMessage For="@(()=>model.MotPasse)" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" @bind-value="model.ConfirmerMotPasse" autocomplete="off" />
                                    <label for="inputPasswordConfirm">Confirmar Contraseña</label>
                                    <ValidationMessage For="@(()=>model.ConfirmerMotPasse)" />
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Register</button></div>
                        </div>
                    </EditForm>

                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="/login">vous avez deja un compte? connexion</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private UtilisateurDTO model = new();

    private async Task CreationCompte()
    {
        if (model.MotPasse != model.ConfirmerMotPasse)
        {
            toastService.ShowWarning("le mot de passe est different de la confirmation du mot de passe");
            return;
        }

        model.Role = "client";
        var response = await utilisateurService.Add(model);

        if (response.EsCorrect)
        {
            toastService.ShowSuccess("Votre compte a ete creer");
            _nav.NavigateTo("/login");
        }
        else
        {
            toastService.ShowWarning("Une erreur est survenue");

        }
    }
}
