@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager _navigation


<CascadingAuthenticationState>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (context.User.Identity?.IsAuthenticated != true)
                            _navigation.NavigateTo("/login");
                        else
                        {
                            <p class="alert alert-danger"> Vous n'etes pas autoriser a acceder a cette page</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>


    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

</CascadingAuthenticationState>
